.parentDiv {
  /* overflow-x: scroll; */
  white-space: nowrap;
}
.itemsLinks{
  display: flex;
  color: white;
  flex-direction: column;
  text-align: center;
  padding: 14px;
  text-decoration: none;
}


@media (max-width : 900px) {
  
}

::-webkit-scrollbar {
  width: 1px;
}


/* Code for the scrollbar */
/* width */
::-webkit-scrollbar {
  width: 0px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #6A9C78;
  ;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}