.AboutusDiv{
    width: 50%;
    text-align: justify;
    color: #333;
}
.AboutusDiv b{
    color:#6A9C78
}
.ImageusDiv{
    width: 50%;
}
.Image{
    height: 100%;
    width: 100%;
}
.HrLine{
    border: 1px solid;
}
.aboutHeading{
    color:#6A9C78
}
@media (max-width: 1000px) {
    .AboutusDiv{
        width: 100%;
        margin: 5% auto;
        text-align: justify;
    }
    .ImageusDiv{
        width: 100%;
        height: 50%;
    }
    .Image{
        width: 100%;
    }
}